body {
    background-color: #D6EAF8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: #EBF5FB;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid #1B4F72;
}

a {
    text-decoration: none;
    color: #1B4F72;

}

h1 {
    color: #1B4F72;
}

title {
    text-align: center;
    color: #1B4F72;
}